# node_modules
node_modules/

# env files
.env

# database files
db/
*.db
*.db-journal

# configuration files
config.json

# other files
passwords.txt
uploads

# IDE files
.idea/
*.iml

# log files
*.log
./gunicorn-access.log

# __pycache
*.pyc
__pycache__/
